{% extends 'base.html.twig' %}

{% block title %}Listes des Communes par Départements{% endblock %}

{% block body %}
<div class="container">
    <form action="" method="GET">
        <div class="row align-items-end">
            <div class="col-md-10">
                <div class="form-group">
                    <label for="departement">Sélectionnez un département :</label>
                    <select class="form-control text-dark bg-light" name="departement" id="departement" style="height: 50px;">
                        <option value="Toutes">Tous les Départements</option>
                        {% for monDepartement in mesDepartements %}
                            <option value="{{ monDepartement.code }}" {% if app.request.query.get("departement") == monDepartement.code %} selected {% endif %}>
                                {{ monDepartement.nom }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary" style="height: 75px;">Filtrer</button>
            </div>
        </div>


    <hr> 

    <h1>Liste des Communes</h1>

    <div class="row">
        {% for monCom in pagination %}
            <div class="col-md-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                    <div class="card-header">{{ monCom.code }}</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ monCom.nom }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>




    <div class="pagination mt-3">
        {{ knp_pagination_render(pagination) }}
    </div> 
</div>
{% endblock %}
